%header
  =render('layouts/homepage_navbar')

#main
  %div.container
    .row
      .col-sm-12
        #title
          #title-text
            System Analyser
          #lead-text
            Check the health of your servers today !
    .row
      .col-md-8.hidden-sm.hidden-xs
        #image 
          =image_tag 'system-analyser.jpg'
      .col-md-4.col-sm-12
        #server-metrics 
          %p
            Please Select a Server
            #server-select
            #server-date
            #date-select      
  .row
    #how-to 
      how-to section

  .row
    #contacts 
      contacts-section