%header
	=render('layouts/homepage_navbar')
	
%div.container-fluid
	#main
		.row
			.col-sm-12
				#title
					title-section
		.row
			.col-sm-6.hidden-xs
				#image 
					image section
			.col-sm-6
				#server-metrics 
					server-metrics-section

	.row
		#how-to 
			how-to section
	.row
		#contacts 
			contacts-section