%header
	=render('layouts/homepage_navbar')

#main
	%div.container-fluid
		.row
			.col-sm-12
				#title
					#title-text
						System Analyser
					#lead-text
						How are your servers today?
		.row
			.col-sm-9.hidden-xs
				#image 
					=image_tag 'system-analyser.jpg'
			.col-sm-3
				#server-metrics 
					server-metrics-section

	.row
		#how-to 
			how-to section
	.row
		#contacts 
			contacts-section