#server-metrics-title {
  text-align: center;
}

#cpu-metrics {
  height: 500px;
  width: 80%;
  display: block;
  margin: 0px auto 50px auto;
}

#mem-metrics {
  height: 500px;
  width: 80%;
  display: block;
  margin: 0px auto 50px auto;
}

#disk-metrics {
  height: 500px;
  width: 80%;
  display: block;
  margin: 0px auto 50px auto;
}

#netIn-metrics {
  height: 500px;
  width: 80%;
  display: block;
  margin: 0px auto 50px auto;
}

#netOut-metrics {
  height: 500px;
  width: 80%;
  display: block;
  margin: 0px auto 50px auto;
}