#server-metrics-title {
  text-align: center;
  background-color: #5555AA;
  color: white;
  margin-bottom: 50px;
  height: 100px;
  h1 {
    margin-top: 0px;
    padding-top: 25px;  
    font-weight: bold;
  }
}

#cpu-metrics {
  height: 500px;
  width: 80%;
  display: block;
  margin: 0px auto 50px auto;
}

#mem-metrics {
  height: 500px;
  width: 80%;
  display: block;
  margin: 0px auto 50px auto;
}

#disk-metrics {
  height: 500px;
  width: 80%;
  display: block;
  margin: 0px auto 50px auto;
}

#netIn-metrics {
  height: 500px;
  width: 80%;
  display: block;
  margin: 0px auto 50px auto;
}

#netOut-metrics {
  height: 500px;
  width: 80%;
  display: block;
  margin: 0px auto 50px auto;
}