// Place all the styles related to the SystemAnalyser controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar {
	margin: 0px;
	.nav > li > a {
	  color: #5555AA;
	}
}

.navbar-default .navbar-brand {
	color: #5555AA;
}

#main {
	height:500px;
	background-color: #5555AA;
}

#title {
	color: white;
	text-align: center;
	height:100px;
	margin: 10px 10px 10px 10px;

	#title-text {
		font-weight: bold;
		font-size: 3em;
	}

	#lead-text {
		font-size: 1.5em;
	}
}

#how-to {
	border: 2px solid black;
	height: 500px;
	margin: 20px;
}

#server-metrics {
	color: white;
	font-size: 1.5em;
	height:360px;
	margin: 0px auto 20px auto;
	#server-select {
		color: #5555AA;
		width: 75%;
	}
}

#image {
	img {
	 display: block;
	 height: 100%;
	 max-width: 100%;
	}
	height: 360px;
	margin: 0px 10px 20px 10px;
}

#contacts {
	border: 2px solid black;
	height:300px;
	margin: 20px;
}