%div.navbar.navbar-default.navbar-static-top
	%div.container
		%div.navbar-header
			%a.navbar-brand{href: '/'}
				System Analyser
			%button.navbar-toggle{type: 'button', 'data-toggle'=>'collapse', 'data-target'=>'.navbar-collapse'} 
				%span.sr-only Toggle Navigation
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar
		%ul.nav.navbar-nav.navbar-right.collapse.navbar-collapse
			%li
				%a{href: '#main'} Select System
			%li
				%a{href: '#how-to'} How To
			%li
				%a{href: '#contacts'} Contacts